---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import { Image } from "@astrojs/image/components";
import Gallery from "../components/Gallery.astro";
import Section from "../components/Section.astro";
import Bigimage from "../components/Bigimage.astro";
import CheckOut from "../components/CheckOut.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Retrograde Coffee">
	<div class="relative h-screen">
		<Image
			src="/images/LattePour22.jpg"
			alt="hero"
			width="2000"
			height="1000"
			format="avif"
			quality={80}
			class="absolute inset-0 object-cover h-screen -z-10"
		/>
	</div>
	<main class="grid gap-12 text-rg-gray leading-5">
		<Welcome />
		<CheckOut />
		<Gallery />
		<Section
			sectionTitle="newsletter signup"
			classes="grid gap-8 block text-center place-items-center"
			><button
				class="bg-black max-w-fit hover:opacity-80 transition-opacity text-base text-white"
				>SignUp</button
			><p class="text-xl">
				Get updated first on new brew releases, menu items, and shop
				news
			</p>

			<h2 class="text-3xl">
				Follow us <span class="underline">@RetrogradeCoffee</span>
			</h2>
		</Section>
		<Bigimage />
		<Contact />
	</main>
</Layout>

<style>
	body {
		overflow-x: hidden !important;
	}
</style>
