---
import { Image } from "@astrojs/image/components";
---

<div
	class="relative h-screen -mx-4 grid gap-6 align-items-center justify-center content-center p-6 md:p-20"
>
	<Image
		src="/images/RetailCoffee.jpg"
		alt="hero"
		width="2000"
		height="1000"
		format="avif"
		quality={80}
		class="absolute inset-0 object-cover h-screen -z-10 object-center"
	/>
	<div class="absolute inset-0 h-screen bg-black/30 -z-10"></div>
	<h1 class="text-bold text-4xl text-white max-w-2xl">
		Check out our latest roasts, seasonal batches, and house-made go-to
		favorites.
	</h1>
	<button
		class="bg-rg-light py-5 px-8 max-w-fit hover:opacity-80 transition-opacity text-base"
		>Buy coffee</button
	>
</div>
