---
import contactInfo from "../components/data/contact.json";
import Section from "./Section.astro";
---

<Section sectionTitle="Contact Us" classes="grid gap-12">
	<h2 class="uppercase">Hello</h2>
</Section>
