---
import { Image } from "@astrojs/image/components";
---

<header class="py-16 md:py-24">
	<Image
		src="/images/EspressoPour.jpg"
		width="890"
		height="599"
		alt="welcome"
		class="md:float-left w-full md:h-auto md:w-auto pr-6 pb-6"
	/>
	<div>
		<h1 class="font-bold text-7xl">Welcome to Retrograde Coffee.</h1>

		<p class="py-6 text-3xl tracking-wide">
			Coffee is central to so much of what we do in life. It’s a
			conversation starter, a reason to meet, a moment of quiet reflection
			and a savory way to start our day. Retrograde is your neighborhood
			coffee stop for all of those moments. Yes we serve incredible house
			and regionally roasted coffees, but more than that, Retrograde is
			your excuse to pause, relax and enjoy a slower moment in time.
		</p>
		<p class="text-3xl">
			Can’t make it in? <a class="underline">Order our signature coffee</a
			> online and bring Retrograde home.
		</p>
	</div>
</header>
